dashboard
- show a view which gives the statistics we care about
- one screen shows
-- a list of categories,
-- a list of manufacturers
-- a list of products
-- a list of orders

- secondary views for category and manufacturer
-- show each manufacturer and all the products for that manufacturer
-- show each category and all the products for that category

how to
- mock it up with balsamiq
- create the controller
- generate the views